@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%;
    animation: animate 7.5s ease-in-out infinite;
    
}
h1{
    text-align: center;
    color: #fff;
    background: rgba(255,255,255,.2);
    font-size: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
@keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }
.container{
    display: flex;
}
.list-container{
    flex: 5;
}
.form-container{
    background-color: orangered;
    flex: 3;
    padding: 20px 30px;
    margin-left: 10px;
    margin-right: 20px;
}
.my-form{
    
    margin-bottom: 10px;
    
    
}
.my-form label{
    display: block;
    width: 90px;
}
.main-icon{
    font-size: 30px;
    color: rgb(78, 76, 76);
    cursor: pointer;
    border-radius: 10px;
}

#iImportant.important{
    color: rgb(34, 190, 6);
}
.task{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.task label{
    display: block;
    margin-bottom: 5px;
}
.task .col1{
    flex: 4;
}
.task .col2{
    flex: 1;
}
.task .col3{
    flex: 1;
}
#btnSave{
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btnSave:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btnSave:active {
	position:relative;
	top:1px;
}
