@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
body{
    background-color: lightblue;
}
h1{
    background-color: salmon;
    border: 1px solid black;
    background-size: cover;
    text-align: center;
    text-decoration: underline;
}
.container{
    display: flex;
}
.list-container{
    flex: 5;
}
.form-container{
    background-color: orangered;
    flex: 3;
    padding: 20px 30px;
    margin-left: 10px;
}
.my-form{
    margin-bottom: 10px;
    padding: 5px;
}
.my-form label{
    display: block;
    width: 90px;
}
.main-icon{
    font-size: 30px;
    color: rgb(78, 76, 76);
    cursor: pointer;
    border-radius: 10px;
}

#iImportant.important{
    color: rgb(34, 190, 6);
}
.task{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.task label{
    display: block;
    margin-bottom: 5px;
}
.task .col1{
    flex: 4;
}
.task .col2{
    flex: 1;
}
.task .col3{
    flex: 1;
}
#btnSave{
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btnSave:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btnSave:active {
	position:relative;
	top:1px;
}
